.guest__container {
  width: 100%;
  height: auto;
  padding-top: var(--padding-top);
  padding-bottom: 89px;
  background-color: var(--black-color);
}

.guest__title {
  color: var(--white-color);
}

.guest__subtitle {
  color: var(--text-grey);
}

.guest__text {
  max-width: 825px;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 160%;
}

.guest__list {
  flex-direction: column;
  gap: 44px;
}

.guest__item {
  align-items: flex-start;
  gap: var(--gap);
  max-width: 920px;
  min-height: 270px;
}

.guest__item-desc {
  flex-direction: column;
  max-width: 458px;
  min-height: 270px;
}

.guest__item-title {
  margin-bottom: 8px;
  color: var(--white-color);
  line-height: 114%;
}

.guest__item-text {
  min-height: 145px;
  line-height: 180%;
}

.guest__item-btn {
  margin-top: auto;
}

.guest__item-link {
  display: inline-block;
  max-width: 200px;
  min-height: 40px;
  padding: 10px 18px 4px 18px;
  font-weight: 500;
  text-align: center;
  color: var(--focus-color);
  border-radius: var(--link-radius);
  border: 2px solid var(--focus-color);
  outline: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.guest__item-link:focus-visible {
  color: var(--white-color);
  border: none;
  background-color: var(--button-color);
}

.guest__item-link:hover {
  color: var(--white-color);
  border: none;
  background-color: var(--focus-color);
}

.guest__item-link:active {
  color: var(--white-color);
  border: none;
  background-color: var(--active-color);
}
